@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Roboto:wght@300&display=swap");
@import url("https://fonts.cdnfonts.com/css/amagro");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* h1 {
  font-family: "Playfair Display", serif;
}
* p {
  font-family: "Roboto", sans-serif;
}
* li {
  font-family: "Amagro", sans-serif;
}
* a,
* a p {
  font-family: "Amagro", sans-serif;
  text-decoration: none;
  color: orange;
}

header {
  position: relative;
}
header .section-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  background: linear-gradient(to right top, #082b63, #13101c 75%);
}
header .section-top img {
  width: 50px;
  margin-left: 20px;
}
header .section-top a {
  text-align: center;
  letter-spacing: 4px;
}
header .section-top .menuIcon {
  cursor: pointer;
  margin-right: 15px;
}
header .section-top .menuIcon span {
  display: block;
  height: 6px;
  width: 40px;
  margin: 5px;
  background: #9c0e59;
  transition: 250ms ease-out;
}
header .section-top .closeIcon .menuBars:first-child {
  transform: translateY(11px) rotate(45deg);
}
header .section-top .closeIcon .menuBars:nth-child(2) {
  opacity: 0;
}
header .section-top .closeIcon .menuBars:last-child {
  transform: translateY(-11px) rotate(-45deg);
}
header nav {
  width: 100%;
  backdrop-filter: blur(2px);
  position: fixed;
  transform: translateX(-100%);
  transition: 500ms ease-in-out;
}
header nav .menuList {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: ghostwhite;
  height: calc(100vh - 75px);
  list-style: none;
}
header nav .menuList li {
  padding: 20px;
  padding-left: 50px;
  cursor: pointer;
  color: #13101c;
}
header nav .menuList li:hover {
  color: orange;
  background: #082b63;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
header nav .menuList .servicesHide {
  display: none;
}
header nav .menuList .servicesShow {
  display: block;
  padding: 15px;
  padding-left: 75px;
}
header .menuDisplay {
  transform: translateX(0%);
}

footer {
  background: linear-gradient(to right top, #13101c 50%, #082b63);
  color: orange;
  padding: 1rem;
  text-align: center;
}
footer #footerContact {
  margin: 1rem;
  line-height: 1.5rem;
}
footer #footerContact #footerContact p {
  margin: 0.3rem 0;
}
footer section iframe {
  width: 75%;
  height: 250px;
  margin: 1rem auto;
}
footer #newsletter {
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}
footer #newsletter label {
  display: flex;
  justify-content: center;
}
footer #newsletter label #inputEmail {
  width: 80%;
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 550;
  color: #9c0e59;
  text-align: center;
}
footer #newsletter label #newsletterButton {
  width: 80%;
  border: none;
  cursor: pointer;
  padding: 0.8rem;
  font-size: 1rem;
  color: orange;
  background-color: #082b63;
  text-transform: uppercase;
}
footer #newsletter label #newsletterButton:hover {
  font-weight: 600;
  color: ghostwhite;
  background-color: #9c0e59;
}
footer .logo {
  display: block;
  padding-bottom: 2rem;
}
footer .logo a img {
  width: 50px;
}
footer .logo a p {
  letter-spacing: 4px;
}
footer #myInfo {
  color: ghostwhite;
  font-size: 1.2rem;
}

.heroSection {
  background: #000 url("../assets/abstract.91fe92b5.jpg") 0 0/cover;
  padding: 50px;
}

/* Medium devices (portrait tablets and large phones, 600px and up) */
/* Large devices (laptops/desktops, 992px and up) */

/*# sourceMappingURL=style.css.map */
