@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/amagro');

$colorOne: #501e32;
$colorTwo: #13101c;
$colorThree: #9c0e59;
$colorFour: #082b63;
$colorFive: #1d7bb7;
$colorGround: #000;
$colorTitle: orange;
$titlesFont: 'Playfair Display',
serif;
$paragraphsFont: 'Roboto',
sans-serif;
$menuFooterFont: 'Amagro',
sans-serif;

$menu-top: 75px;
$menu-bottom: 100vh;

@mixin longTransicion {
    transition: 500ms ease-in-out;
}

@mixin shortTransicion {
    transition: 250ms ease-out;
}

@mixin flexi {
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    h1 {
        font-family: $titlesFont;
    }

    p {
        font-family: $paragraphsFont;
    }

    li {
        font-family: $menuFooterFont;
    }

    a,
    a p {
        font-family: $menuFooterFont;
        text-decoration: none;
        color: $colorTitle;
    }
}

header {

    .section-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $menu-top;
        background: linear-gradient(to right top, $colorFour, $colorTwo 75%);

        img {
            width: 50px;
            margin-left: 10px;
        }

        a {
            text-align: center;
            letter-spacing: 4px;
        }

        .menuIcon {
            cursor: pointer;
            margin-right: 5px;

            span {
                display: block;
                height: 6px;
                width: 40px;
                margin: 5px;
                background: $colorThree;
                @include shortTransicion;
            }
        }

        .closeIcon .menuBars {
            &:first-child {
                transform: translateY(11px) rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:last-child {
                transform: translateY(-11px) rotate(-45deg);
            }
        }
    }

    nav {
        width: 100%;
        backdrop-filter: blur(2px);
        position: absolute;
        transform: translateX(-100%);
        @include longTransicion;

        .primaryList {
            @include flexi;
            width: 300px;
            background-color: ghostwhite;
            height: calc($menu-bottom - $menu-top);
            list-style: none;

            li {
                padding: 20px;
                padding-left: 50px;
                cursor: pointer;
                color: $colorTwo;

                &:not(:nth-child(2)):hover {
                    color: $colorTitle;
                    background: $colorTwo;
                }
            }
        }

        .services {
            .secondaryList {
                display: none;
                list-style: none;
                margin-top: 20px;
                margin-bottom: -20px;

                li {
                    padding: 15px;
                }
            }

            &.active .secondaryList {
                display: block;
            }
        }
    }

    .menuDisplay {
        transform: translateX(0%);
    }
}


footer {
    background: linear-gradient(to right top, #13101c 50%, #082b63);
    color: $colorTitle;
    padding: 1rem;
    text-align: center;

    #footerContact {
        margin: 1rem;
        line-height: 1.5rem;

        #footerContact p {
            margin: 0.3rem 0;
        }
    }

    section iframe {
        width: 75%;
        height: 250px;
        margin: 1rem auto;
    }

    #newsletter {
        padding: 1rem;
        margin-bottom: 2rem;
        width: 100%;

        label {
            display: flex;
            justify-content: center;

            #inputEmail {
                width: 80%;
                border: none;
                padding: 0.8rem;
                font-size: 1rem;
                font-weight: 550;
                color: $colorThree;
                text-align: center;
            }

            #newsletterButton {
                width: 80%;
                border: none;
                cursor: pointer;
                padding: 0.8rem;
                font-size: 1rem;
                color: $colorTitle;
                background-color: $colorFour;
                text-transform: uppercase;

                &:hover {
                    font-weight: 600;
                    color: ghostwhite;
                    background-color: $colorThree;
                }
            }
        }
    }

    .logo {
        display: block;
        padding-bottom: 2rem;

        a img {
            width: 50px;
        }

        a p {
            letter-spacing: 4px;
        }
    }

    #myInfo {
        color: ghostwhite;
        font-size: 1.2rem;
    }
}




















.heroSection {
    background: #000 url("../assets/abstract.91fe92b5.jpg") 0 0 / cover;
    padding: 50px;
}


/* Medium devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}